*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 105px;
    background-color: #FFF;
}

nav figure{
    margin-left: 52px;
    margin-top: 10px;
}


.links a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    margin-right: 53px;
}

.btn-login{
    width: 98px;
    height: 39px;
    background-color: #FF6909;
    text-align: center;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

.adote-hj{
    width: 100%;
    height: 116vh;
    background-color: #43AFFF;
    display: flex;
    justify-content: space-between;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    margin-left: 128px;
}

.text h1{
    font-size: 48px;
    font-weight: bold;
}

.text p{
    width: 470px;
    font-size: 23px;
    line-height: 35px;
}

.destaque{
    color: #FF6909;
}

.btn-adotar{
    width: 255px;
    height: 44px;
    text-align: center;
    background-color: #FF6909;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    border: none;
    border-radius: 8px;
}

figure img{
    margin-right: 103px;
    margin-top: 29px;
}